{% load static %}

{% block head %}
{% include 'head.html' %}
{% endblock %}


<!-- Preloader Start -->

        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>

    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-top black-bg d-none d-sm-block">
                <div class="container">
                    <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left">
                                <ul>
                                    <li class="title"><span class="flaticon-energy"></span>Diarioweek.com</li>
                                    <li>Mantente informado las 24 horas , los 7 dias de la semana</li>
                                </ul>
                            </div>
                            <div class="header-info-right">
                                <ul class="header-date">
                                    <li><span class="flaticon-calendar"></span> 829-586-2553</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-mid gray-bg">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-3 col-lg-3 col-md-3 d-none d-md-block">
                         
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9">
                            <div class="header-banner f-right ">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-8 col-lg-8 col-md-12 header-flex">
                            <!-- sticky -->
                            <div class="sticky-logo">
                                <a href="index.html"><img src="{% static '/img/logo/logo.png'%}" alt=""></a>
                            </div>

                            <!-- Main-menu -->

                            {% block menu %}
                            <div class="main-menu d-none d-md-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href={% url 'news_app:index' %}>Inicio</a></li>
                                        <li><a href={% url 'news_app:deportes' %}>Deportes</a></li>
                                        <li><a href={% url 'news_app:Musica' %}>Música</a></li>
                                        <li><a href={% url 'news_app:politica' %}>Politica</a></li>
                                        <li><a href={% url 'news_app:opinion' %}>Opinion</a> </li>
                                           
                                    
                                        <li><a href={% url 'news_app:contacto' %}>Contactos</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="header-right f-right d-none d-lg-block">

                                {% endblock %}
                                <!-- Heder social -->

                                {% block red_social %}
                                <ul class="header-social">
                                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                </ul>

                                {% endblock %}
                                <!-- Search Nav -->


                                <div class="busqueda">
                                    <form class="navbar-search pull-left" method="GET" action="/buscar/">
                        
                                        <input type="text" name="buscalo" class="search-query" placeholder="Buscar">
                                      
                                    </form>
                                        
                                  </div>


                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-md-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header End -->
</header>
<div class="mx-auto" style="width: 200px;">


</div>

<main>
    <!-- Trending Area Start -->
    {% block contenido %}
    <div class="trending-area fix pt-25 gray-bg">
        <div class="container">
            <div class="trending-main">
                <div class="row">
                    <marquee><h4 class="display-1">Bienvenidos a DiarioWeek</h4></marquee>


                    {% if contenidos %}
                    {% else %}
                    <h1>No hay noticias de hoy :C</h1>
                    {% endif %}
                    {% for cont in contenidos %}
                    <div class="col-3">
                        <img class="card-img-top pt-4" src="/static/{{cont.imagen_preferencial}}" alt="Card image cap">
                        <div class="card-body">
                            <a href="{{ cont.Titulo }}"></a>
                            <strong><h2 class="card-title">{{ cont.Titulo }}</h2></strong><a/>
                            <p class="card-text">{{ cont.descripcion }}</p>
                            <a href="{% url 'news_app:detail' cont.id cont.slug %}" class="btn btn-primary">Leer más</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    <!-- Trending Area End -->
       <!-- Whats New Start -->

    {% block segmento %}
    <section class="whats-news-area pt-50 pb-20 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="whats-news-wrapper">
                        <!-- Heading & Nav Button -->

                        <div class="row justify-content-between align-items-end mb-15">
                            <div class="col-xl-4">
                                <div class="section-tittle mb-30">
                                    <h3><P><strong>Lo nuevo de la semana</strong></P></h3>
                                </div>
                            </div>
                            <div class="col-xl-8 col-md-9">
                                <div class="properties__button">


                                    <!--Nav Button  -->

                                    <!--End Nav Button  -->
                                </div>
                            </div>
                        </div>
                        <!-- Tab content -->

                        <div class="row">

                            <div class="col-12">
                                <!-- Nav Card -->
                                <div class="tab-content" id="nav-tabContent">
                                    <!-- card one -->
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                         aria-labelledby="nav-home-tab">
                                        <div class="row">
                                            {% for segmento in segmentos %}
                                            {% if forloop.counter == 1 %}
                                            <!-- Left Details Caption -->
                                            <div class="col-xl-6 col-lg-12">
                                                <div class="whats-news-single mb-40 mb-40">
                                                    <div class="whats-right-img">
                                                        <img src="/static/{{segmento.imagen}}" width="320" height="227"
                                                             alt="">
                                                    </div>
                                                    <div class="whates-caption">
                                                        <h4><a href="{% url 'news_app:detail_segmento' segmento.id  %}">{{segmento.Titulo}}</a>
                                                        </h4>
                                                        <span>Por{{segmento.Autor}}</span>
                                                        <p>{{segmento.descripcion|safe}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}


                                            {% endfor %}

                                            <!-- Right single caption -->
                                            <div class="col-xl-6 col-lg-12">
                                                <div class="row">
                                                    <!-- single -->
                                                    {% for segmento in segmentos %}
                                                    {% if forloop.counter >= 2 %}
                                                    <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                                        <div class="whats-right-single mb-20">
                                                            <div class="whats-right-img">
                                                                <img src="/static/{{segmento.imagen}}" width="200"
                                                                     height="205" alt="">
                                                            </div>
                                                            <div class="whats-right-cap">
                                                                <span class="colorb"></span>
                                                           <h4><a href="{% url 'news_app:detail_segmento' segmento.id %}">{{segmento.Titulo}}</a>
                                                                </h4>
                                                                <p>Jun 19, 2020</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>

                                                {% endblock %}

                                            <!-- Banner -->

                                            {% block noticias_recientes %}

                                            <div class="container">
                                                <div class="row justify-content-end">
                                            <div class="col-12">
                                            </div>
                                                </div>

                                                <!-- Section Tittle -->
                                                
                                                <div class="small-tittle mb-30">
                                                
                                                    <h4 class="bg-warning" style="border: 1px solid #000; height:300 px">
                                                       
                                                        <i class="fa fa-plus" aria-hidden="true"></i> <center>Mas populares </center>
                                                       
                                                         
                                                    </h4>
                                                   
                                                </div>
                                               
                                                <!-- Detaigls -->


                                                 
                                                {% for reciente in recientes %}
                                                {% if forloop.counter == 4 %}
                                                <div class="row">
                                                    <div class="row justify-content-center">
                                                <div class="col-md-3 offset-2 col-xl-12  mt-2">
                                                <img src="/static/{{reciente.Portada}}" width="500" height="500"
                                                     alt="">
                                              <div class="card-body">
                                                <h5 class="card-title">{{reciente.Titulo}}</h5>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                <a href="{% url 'news_app:detail_noticias' reciente.id %}" class="btn btn-primary">Leer Más</a>
                                              </div>
                                            </div>


                                            {% endif %}
                                            {% endfor %}


                                                      {% for reciente in recientes %}
                                                        {% if forloop.counter == 1 %}

                                                        <div class="row">
                                                            <div class="col-8 mt-5 offset-1 col-xl-12" ></div>
                                                            <div class="col-6">
                                                                <img src="/static/{{reciente.Portada}}"  width="400" height="400"
                                                                alt="">
                                                              <div class="card-body-offset-3">
                                                                <h5 class="card-title">{{reciente.Titulo}}</h5>
                            
                                                               
                                                                <a href="{% url 'news_app:detail_noticias' reciente.id %}" class="btn btn-primary mb-3" >Leer Más</a>
                                                              </div>
                                                            </div> 
                                                        </div>
                                                   




        

                                                {% endif %}
                                                {% endfor %}

                                                       {% for reciente in recientes %}
                                                        {% if forloop.counter == 2 %}
                                                        <div class="row">
                                                        <div class="col-8 mt-5 offset-1 col-xl-12">
                                                        <img src="/static/{{reciente.Portada}}" width="400" height="400"
                                                             alt="">
                                                      <div class="card-body">
                                                        <h5 class="card-title">{{reciente.Titulo}}</h5>
                                                       
                                                        <a href="{% url 'news_app:detail_noticias' reciente.id %}" class="btn btn-primary">Leer Más</a>
                                                      </div>
                                                    </div>
                                                        </div>
                                                        </div>


                                                    {% endif %}
                                                    {% endfor %}

                                                    
                                                    {% for reciente in recientes %}
                                                    {% if forloop.counter == 3 %}
                                                    <div class="row">
                                                    <div class="col-md-3 offset-10 col-xl-12  mt-2">
                                                    <img src="/static/{{reciente.Portada}}" width="400" height="400"
                                                         alt="">
                                                  <div class="card-body">
                                                    <h5 class="card-title">{{reciente.Titulo}}</h5>
                                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                    <a href="{% url 'news_app:detail_noticias' reciente.id %}" class="btn btn-primary">Leer Más</a>
                                                  </div>
                                                </div>


                                                {% endif %}
                                                {% endfor %}




                                                 







                                            </div>
                                        </div>

                                    </div>
                                </div>

                                {% endblock %}


                            </div>




                            </div>
                            <!-- Whats New-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

                        {% block videos_banner %}
        <div class="weekly2-news-area pt-50 pb-30 gray-bg">
        <div class="container">
            <div class="weekly2-wrapper">
                <div class="row">
                    <!-- Banner -->
                 
                    </div>
                    <div class="col-lg-12">
                        <div class="slider-wrapper">
                            <!-- section Tittle -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="small-tittle mb-30">

                                        <h4>Most Popular</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Slider -->
                            <div class="row">

                                <div class="col-lg-12">
                                    <div class="weekly2-news-active d-flex">
                                        <!-- Single -->
                                        {% for popular in populares %}
                                        <div class="weekly2-single">
                                            <div class="weekly2-img">
                                                <img src="/static/{{popular.noticia.imagen_preferencial}}"
                                                     alt="" height="300px">
                                            </div>
                                            <div class="weekly2-caption">
                                        
                                                <h4><a href="/detalles/{{ popular.noticia.pk }}/{{ popular.noticia.slug }}">{{popular.noticia.Titulo}}</a>


                                                </h4>
                                                <p>Jhon | 2 hours ago</p>
                                            </div>
                                        </div>
                                        {% endfor %}

                                        <!-- Single -->
                                    </div>
                                </div>
                                <div class="weekly2-caption">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Weekly-News -->
    <!--  Recent Articles start -->

    <!--Recent Articles End -->
    <!-- Start Video Area -->
    <div class="youtube-area video-padding d-none d-sm-block">
        <div class="container">
            <div class="row">

                    <hr>
                    {% for video in videos %}
                    {% if forloop.counter != 1 %}
                    <div class="col-4">
                        {% else %}
                        <div class="col-12">
                            {% endif %}
                            <div class="video-items text-center">
                                <video controls>
                                    <source src="/static/{{video.video}}" width="400" height="200" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                           
                            </div>
                       
                        </div> 
                        {% endfor %}
                    <hr>
                    </hr>
                </div>
            </div>
         
                              
                            </div>
                          
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    




{% endblock %}
    <!-- End Start Video area-->
    <!--   Weekly3-News start -->

            {% block opinion %}
    <div class="weekly3-news-area pt-80 pb-130">
        <div class="container">
            <div class="weekly3-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider-wrapper">
                            <!-- Slider -->
                            <h1 class="bg-success mt-1"><center>Opinion</h1>
                            <div class="row">
                                {% for opinion in opiniones %}





















                                

                                <div class="col-lg-4">
                                        <div class="weekly3-single">
                                            <div class="weekly3-img">
                                                <img src="/static/{{opinion.Portada}} "width="320" height="227" alt="">
                                            </div>
                                            <div class="weekly3-caption">
                                                <h4><a href="{% url 'news_app:detailopinion' opinion.id  %}">{{opinion.Titulo}}</a></h4>
                                                <p>19 Jan 2020</p>
                                            </div>
                                        </div>


                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Weekly-News -->
    <!-- banner-last Start -->
    <div class="banner-area gray-bg pt-90 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-10">
                   
                </div>
            </div>
        </div>
    </div>
    <!-- banner-last End -->
</main>

{% endblock %}
{% block footer %}
<footer>
    <!-- Footer Start-->
    <div class="footer-main footer-bg">
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                            
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p class="info1">Somos un medio de comunicación especialmente para ti, para que estes informado las
                                            24 horas del dia y los 7 dias de  la semana .</p>
                                        <p class="info2">Zona Oriental , invivienda Santo Domingo Este, República Dominicana</p>
                                        <p class="info2">Phone: 829-586-2553 /809-381-3160</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">

                            <!-- Popular post -->





                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom aera -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                    All rights reserved
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>
{% endblock %}
<!-- Search model Begin -->
<div class="search-model-box">
    <div class="d-flex align-items-center h-100 justify-content-center">
        <div class="search-close-btn">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Searching key.....">
        </form>
    </div>
</div>



{% block javascript %}
<!-- Search model end -->

<!-- JS here -->
<script src="{% static '/js/vendor/modernizr-3.5.0.min.js'%}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static '/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static '/js/popper.min.js'%}"></script>
<script src="{% static '/js/bootstrap.min.js'%}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static '/js/jquery.slicknav.min.js'%}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static '/js/owl.carousel.min.js'%}"></script>
<script src="{% static '/js/slick.min.js'%}"></script>
<!-- Date Picker -->
<script src="{% static '/js/gijgo.min.js'%}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static '/js/wow.min.js'%}"></script>
<script src="{% static '/js/animated.headline.js'%}"></script>
<script src="{% static '/js/jquery.magnific-popup.js'%}"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="{% static '/js/jquery.scrollUp.min.js'%}"></script>
<script src="{% static '/js/jquery.nice-select.min.js'%}"></script>
<script src="{% static '/js/jquery.sticky.js'%}"></script>

<!-- contact js -->
<script src="{% static '/js/contact.js'%}"></script>
<script src="{% static '/js/jquery.form.js'%}"></script>
<script src="{% static '/js/jquery.validate.min.js'%}"></script>
<script src="{% static '/js/mail-script.js'%}"></script>
<script src="{% static '/js/jquery.ajaxchimp.min.js'%}"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="{% static '/js/plugins.js'%}/"></script>
<script src="{% static '/js/main.js'%}"></script>
{% endblock %}