{% extends 'detalles_noticias.html'%}
{% load static %}

{% block head %}
 {% include 'head.html' %}
{% endblock %}

{% block contenido %}


{% endblock %}


{% block noticias_recientes %}

{% endblock %}




  {% block segmento %}

<h1 class="mt-5"></h1>
<center><h4>{{segmento_inferior.Titulo}}</h4></center>

<hr>

<p>Escrito por : {{segmento_inferior.Autor}}</p>

<center><img src="/static/{{segmento_inferior.imagen}}" width="700" height="500" alt=""></center>
<hr>
{{segmento_inferior.contenido|safe}}

    {% endblock %}

